<footer class="footer">
    <div class="container">
      <div class="footer-content">
        <div class="footer-section">
          <h3>Future Foods</h3>
          <p>{{'Footer.feedYourBody' | translate}}</p>
        </div>
        <div class="footer-section">
          <h4>{{'Footer.quickLinks' | translate}}</h4>
          <a href="/">{{'Footer.quickLinksMenu.home' | translate}}</a>
          <a href="/products">{{'Footer.quickLinksMenu.products' | translate}}</a>
          <a href="/doctors-forum">{{'Footer.quickLinksMenu.r&d' | translate}}</a>
          <a href="/tour">{{'Footer.quickLinksMenu.tour' | translate}}</a>
          <a href="/dietetics">{{'Footer.quickLinksMenu.dietetics' | translate}}</a>
        </div>
        <div class="footer-section">
          <h4>{{'Footer.company' | translate}}</h4>
          <a routerLink="/terms-and-conditions">{{'Footer.termsAndConditions' | translate}}</a>
          <a routerLink="/refund-policy">{{'Footer.refundPolicy' | translate}}</a>
          <a routerLink="/privacy-policy">{{'Footer.privacyPolicy' | translate}}</a>
        </div>
        <div class="footer-section">
          <h4>{{'Footer.contact' | translate}}</h4>
          <p>{{'Footer.email' | translate}}: <a href="mailto:consult@futurefoods.com.my">consult&#64;futurefoods.com.my</a></p>
          <p>{{'Footer.phone' | translate}}: <a href="tel:+60102202574">+60 102202574</a></p>
        </div>
        <div class="footer-section">
          <h4>{{'Top-nav.dieteticsMenu.consult' | translate}}</h4>
          <a href="/dietetics">{{'Footer.clickForForm' | translate}}</a>
        </div>
      </div>
      <div class="footer-bottom">
        <p>Copyright 2026 Utara Dietetics & Plant Based Research Sdn. Bhd. [202401010223 (1556073-A)]. All Rights Reserved</p>
      </div>
    </div>
  </footer>