<footer class="footer">
    <div class="container">
      <div class="footer-content">
        <div class="footer-section">
          <h3>Future Foods</h3>
          <p>Feed your body the food it deserves.</p>
        </div>
        <div class="footer-section">
          <h4>Quick Links</h4>
          <a href="/">Home</a>
          <a href="/products">Products</a>
          <a href="">R&D</a>
          <a href="">Tour</a>
          <a href="/dietetics">Dietetics</a>
        </div>
        <div class="footer-section">
          <h4>Contact</h4>
          <p>Email: contact&#64;futurefoods.com.my</p>
          <p>Phone: +60 102202574</p>
        </div>
        <div class="footer-section">
          <h4>Request For a Nutrition Consult</h4>
          <a href="/dietetics">Click here for the form!</a>
        </div>
      </div>
      <div class="footer-bottom">
        <p>&copy; 2025 Future Foods. All rights reserved.</p>
      </div>
    </div>
  </footer>