
<div class="nutrition-consult-form">
  <div class="info-image">
    <img src="dietetics_logo.webp" >
  
  </div>
    <h2>{{'Dietetics.title' | translate}}</h2>
  
    <form [formGroup]="consultForm" (ngSubmit)="onSubmit()">
      <!-- Basic Info -->
      <div class="form-section">
        <label>{{'Dietetics.form.name' | translate}}:<span style="color: red;">*</span></label>
        <input type="text" formControlName="name" />
  
        <label>{{'Dietetics.form.age' | translate}}:<span style="color: red;">*</span></label>
        <input type="number" formControlName="age" min="0"/>

        <label>{{'Dietetics.form.contact' | translate}}:<span style="color: red;">*</span></label>
        <input type="text" formControlName="contact" />

        <label>{{'Dietetics.form.email' | translate}}:<span style="color: red;">*</span></label>
        <input type="text" formControlName="email" />
  
        <label>{{'Dietetics.form.sex' | translate}}:<span style="color: red;">*</span></label>
        <div class="radio-group">
          <label><input type="radio" value="Male" formControlName="sex" /> {{'Dietetics.form.male' | translate}}</label>
          <label><input type="radio" value="Female" formControlName="sex" /> {{'Dietetics.form.female' | translate}}</label>
        </div>
      </div>
  
      <div class="form-section">
        <label>{{'Dietetics.form.height' | translate}}:<span style="color: red;">*</span></label>
        <input type="number" formControlName="height" min="0" />
  
        <label>{{'Dietetics.form.weight' | translate}}:<span style="color: red;">*</span></label>
        <input type="number" formControlName="weight" min="0" />
  
        <label>{{'Dietetics.form.country' | translate}}:<span style="color: red;">*</span></label>
        <input type="text" formControlName="country" />
      </div>
  
      <!-- Lifestyle & Habits -->
      <h3>{{'Dietetics.sections.lifestyleHabits' | translate}}</h3>
  
      <label>{{'Dietetics.form.dailyActivityLevel' | translate}}:<span style="color: red;">*</span></label>
      <div class="radio-group">
        <label><input type="radio" value="Sedentary" formControlName="activityLevel" /> {{'Dietetics.options.sedentary' | translate}}</label>
        <label><input type="radio" value="Moderate" formControlName="activityLevel" /> {{'Dietetics.options.moderate' | translate}}</label>
        <label><input type="radio" value="Active" formControlName="activityLevel" /> {{'Dietetics.options.active' | translate}}</label>
      </div>
  
      <label>{{'Dietetics.form.exerciseRoutine' | translate}}:<span style="color: red;">*</span></label>
      <div class="checkbox-group">
        <label *ngFor="let routine of exerciseOptions">
          <input type="checkbox" [value]="routine" (change)="onCheckboxChange($event, 'exerciseRoutine')" />
          {{ routine | translate }}
        </label>
      </div>
  
      <label>{{'Dietetics.form.exerciseFrequency' | translate}}:<span style="color: red;">*</span></label>
      <div class="radio-group">
        <label><input type="radio" value="Weekends" formControlName="exerciseFrequency" /> {{'Dietetics.options.weekends' | translate}}</label>
        <label><input type="radio" value="3 times a week" formControlName="exerciseFrequency" /> {{'Dietetics.options.threeTimesWeek' | translate}}</label>
        <label><input type="radio" value="Daily" formControlName="exerciseFrequency" /> {{'Dietetics.options.daily' | translate}}</label>
        <label><input type="radio" value="None" formControlName="exerciseFrequency" /> {{'Dietetics.options.none' | translate}}</label>
      </div>
  
      <label>{{'Dietetics.form.jobDemands' | translate}}:<span style="color: red;">*</span></label>
      <div class="checkbox-group">
        <label *ngFor="let job of jobOptions">
          <input type="checkbox" [value]="job" (change)="onCheckboxChange($event, 'jobDemands')" />
          {{ job | translate }}
        </label>
      </div>

      <label>{{'Dietetics.form.sleepHours' | translate}}:<span style="color: red;">*</span></label>
      <div class="radio-group">
        <label><input type="radio" value="4" formControlName="sleepHours" /> {{'Dietetics.options.fourHours' | translate}}</label>
        <label><input type="radio" value="6" formControlName="sleepHours" /> {{'Dietetics.options.sixHours' | translate}}</label>
        <label><input type="radio" value="8" formControlName="sleepHours" /> {{'Dietetics.options.eightHours' | translate}}</label>
      </div>

      <label>{{'Dietetics.form.smokingVaping' | translate}}:<span style="color: red;">*</span></label>
      <div class="radio-group">
        <label><input type="radio" value="Social" formControlName="smokingVaping" /> {{'Dietetics.options.social' | translate}}</label>
        <label><input type="radio" value="Habitual" formControlName="smokingVaping" /> {{'Dietetics.options.habitual' | translate}}</label>
        <label><input type="radio" value="None" formControlName="smokingVaping" /> {{'Dietetics.options.none' | translate}}</label>
      </div>
  
      <label>{{'Dietetics.form.alcoholConsumption' | translate}}:<span style="color: red;">*</span></label>
      <ng-container formGroupName="alcoholGroup">
        <div class="checkbox-group" style="margin-bottom: 0px;">
          <label *ngFor="let item of alcohol">
            <input type="checkbox" [value]="item" (change)="onCheckboxChange($event, 'alcoholGroup.types')" />
            {{ item | translate }}
          </label>
        </div>
        <div class="radio-group">
          <label><input type="radio" value="Social" formControlName="consumption" /> {{'Dietetics.options.social' | translate}}</label>
          <label><input type="radio" value="Habitual" formControlName="consumption" /> {{'Dietetics.options.habitual' | translate}}</label>
          <label><input type="radio" value="None" formControlName="consumption" /> {{'Dietetics.options.none' | translate}}</label>
        </div>
      </ng-container>

      <label>{{'Dietetics.form.dietaryPatterns' | translate}}:<span style="color: red;">*</span></label>
      <div class="checkbox-group">
        <label *ngFor="let pattern of dietPatterns">
          <input type="checkbox" [value]="pattern" (change)="onCheckboxChange($event, 'dietaryPatterns')" />
          {{ pattern | translate }}
        </label>
      </div>

      <label>{{'Dietetics.form.eatingStyle' | translate}}:<span style="color: red;">*</span></label>
      <div class="checkbox-group">
        <label *ngFor="let style of eatingStyles">
          <input type="checkbox" [value]="style" (change)="onCheckboxChange($event, 'eatingStyle')" />
          {{ style | translate }}
        </label>
      </div>

      <label>{{'Dietetics.form.waterIntake' | translate}}:<span style="color: red;">*</span></label>
      <div class="radio-group">
        <label><input type="radio" value="2-3" formControlName="waterIntake" /> {{'Dietetics.options.twoThreeGlasses' | translate}}</label>
        <label><input type="radio" value="4-6" formControlName="waterIntake" /> {{'Dietetics.options.fourSixGlasses' | translate}}</label>
        <label><input type="radio" value="8-10" formControlName="waterIntake" /> {{'Dietetics.options.eightTenGlasses' | translate}}</label>
      </div>
  
      <label>{{'Dietetics.form.snacks' | translate}}:<span style="color: red;">*</span></label>
    <ng-container formGroupName="snackGroup">
      <div class="checkbox-group" style="margin-bottom: 0px;">
        <label *ngFor="let snack of snacks">
          <input type="checkbox" [value]="snack" (change)="onCheckboxChange($event, 'snackGroup.types')" />
          {{ snack | translate }}
        </label>
      </div>
      <div class="radio-group">
        <label><input type="radio" value="When Stressed" formControlName="frequency" /> {{'Dietetics.options.whenStressed' | translate}}</label>
        <label><input type="radio" value="Often" formControlName="frequency" /> {{'Dietetics.options.often' | translate}}</label>
        <label><input type="radio" value="Sometimes" formControlName="frequency" /> {{'Dietetics.options.sometimes' | translate}}</label>
        <label><input type="radio" value="Rarely" formControlName="frequency" /> {{'Dietetics.options.rarely' | translate}}</label>
      </div>
    </ng-container>
  
      <!-- Wellness Goals -->
      <h3>{{'Dietetics.sections.wellnessGoals' | translate}}</h3>

      <label>{{'Dietetics.form.primaryGoal' | translate}}:<span style="color: red;">*</span></label>
      <div class="radio-group">
        <label *ngFor="let goal of primaryGoals">
          <input type="radio" [value]="goal" formControlName="primaryGoal" /> {{ goal | translate }}
        </label>
      </div>

      <label>{{'Dietetics.form.secondaryGoals' | translate}}:<span style="color: red;">*</span></label>
      <div class="checkbox-group">
        <label *ngFor="let goal of secondaryGoals">
          <input type="checkbox" [value]="goal" (change)="onCheckboxChange($event, 'secondaryGoals')" />
          {{ goal | translate }}
        </label>
      </div>

      <label>{{'Dietetics.form.specificConcerns' | translate}}:<span style="color: red;">*</span></label>
      <div class="checkbox-group">
        <label *ngFor="let concern of concerns">
          <input type="checkbox" [value]="concern" (change)="onCheckboxChange($event, 'specificConcerns')" />
          {{ concern | translate }}
        </label>
      </div>
  
      <!-- Additional Info -->
      <h3>{{'Dietetics.sections.additionalInfo' | translate}}</h3>

      <label>{{'Dietetics.form.supplements' | translate}}:</label>
      <textarea formControlName="supplements"></textarea>

      <label>{{'Dietetics.form.familyHistory' | translate}}:</label>
      <div class="checkbox-group">
        <label *ngFor="let issue of familyHistoryOptions">
          <input type="checkbox" [value]="issue" (change)="onCheckboxChange($event, 'familyHistory')" />
          {{ issue | translate }}
        </label>
      </div>

      <label><input type="checkbox" formControlName="recentHospitalisation" /> {{'Dietetics.form.recentHospitalisation' | translate}}</label>
      <label><input type="checkbox" formControlName="yearlyScreening" /> {{'Dietetics.form.yearlyScreening' | translate}}</label>
      <label><input type="checkbox" formControlName="foodAllergy" /> {{'Dietetics.form.foodAllergy' | translate}}</label>
      <label><input type="checkbox" formControlName="medication" /> {{'Dietetics.form.medication' | translate}}</label>
      <label><input type="checkbox" formControlName="recentTravel" /> {{'Dietetics.form.recentTravel' | translate}}</label>

      <p class="privacy-note">
  {{ 'Dietetics.privacyNote.text' | translate }}
  <!-- <a href="/data-privacy" target="_blank">{{ 'Dietetics.privacyNote.dataPrivacy' | translate }}</a> and  -->
  <a href="/privacy-policy" target="_blank">{{ 'Dietetics.privacyNote.privacyPolicy' | translate }}</a> {{ 'Dietetics.privacyNote.and' | translate }}
  <strong>{{ 'Dietetics.privacyNote.pdpa' | translate }}</strong>.
</p>

      <button type="submit">{{ 'Dietetics.form.submit' | translate }}</button>
    </form>
  </div>
  