<!-- product-details.component.html -->
<!-- <div class="product-container">
  <app-flickity-carousel></app-flickity-carousel>
  <div class="product-details-content">
    <h1 class="product-title">{{product.name}}</h1>
    <p class="product-price">RM{{product.price}}</p>
    <p class="product-description">
      {{product.description_1}} </p>
    <div class="quantity" style="width: fit-content; max-height: 50px;">
      <button class="minus" aria-label="Decrease" [disabled]="quantity === 0"
        (click)="quantity = quantity - 1">&minus;</button>
      <input [(ngModel)]="quantity" type="number" class="input-box" min="0" max="200">
      <button class="plus" aria-label="Increase" (click)="quantity = quantity + 1">&plus;</button>
    </div>
      <button class="border-2 border-gray-700 p-3 " style="margin-bottom: 10px;">Add To Cart</button>
      <button class="bg-blue-700 text-white p-3">Buy Now</button>
    <div class="additional-details">
      <h3>Specifications</h3>
      <ul>
        <li>**Material:** 100% Organic Cotton</li>
        <li>**Color:** Battleship Gray</li>
        <li>**Size:** S, M, L, XL</li>
      </ul>
    </div>
  </div>
</div> -->

<div #myModal class="modal" [style.display]="modalVisible ? 'block' : 'none'">
  <span (click)="closeModal()" class="close">&times;</span>
  <img #modalImage class="modal-content" id="img01">
  <div #caption id="caption"></div>
</div>