<main class="page">
  <!-- <app-button-demo></app-button-demo> -->
  <section class="container">
    <h2 class="section-title">Our Products</h2>

    <div class="product-grid">
      <!-- <div class="product-card" *ngFor="let product of products">
        <div class="card-image">
          <img [ngSrc]="product.image_url" [alt]="product.name" [width]="20" [height]="20">
        </div>
        <div class="card-body">
          <h3 class="card-title">{{ product.name }}</h3>
          <p class="card-description">{{ product.description }}</p>
        </div>
        <div class="card-footer">
          <span class="price">RM{{ product.price | number:'1.2-2' }}</span>
          <button class="add-to-cart">Add to Cart</button>
        </div>
      </div> -->

      <div (click)="navigateProductDetail(product.id)" class="product-card" *ngFor="let product of products">
        <!-- <div class="w-full max-w-sm "> -->
        <div class="image-holder mb-4">
          <img class="rounded-t-lg" [src]="product.image[0]" alt="product image" />
        </div>
        <div class="p-2">
          <div class="vendor-name">
            <a>NVC</a>
          </div>
          <div class="flex justify-between">

            <div class="produt-card-title">{{product.name}}</div>
            <div class="flex items-center" style="align-self: flex-start;">
              <span class="text-3xl " style="color: rgb(79, 79, 79);">RM{{product.price}}</span>
              <!-- <button class="add-to-cart">Add to Cart</button> -->
            </div>
          </div>
          <div class="flex items-center mt-2.5 mb-5">
            <div class="stars" [style.--rating]="product.product_rating"></div>
            <span
              class=>({{product.product_rating}})</span>
          </div>
        </div>

        <!-- </div> -->
      </div>

    </div>

  </section>
</main>
