<main class="page">
  <div class="container">

    <h2 class="section-title paddin">Our Products</h2>
  </div>
  <!-- <section class="container">

    <div class="product-grid">

      <div (click)="navigateProductDetail(product.id)" class="product-card" *ngFor="let product of products">
        <div class="image-holder mb-4">
          <img class="rounded-t-lg" [src]="product.image[0]" alt="product image" />
        </div>
        <div class="p-2">
          <div class="vendor-name">
            <a>NVC</a>
          </div>
          <div class="flex justify-between">

            <div class="produt-card-title">{{product.name}}</div>
            <div class="flex items-center" style="align-self: flex-start;">
              <span class="text-3xl " style="color: rgb(79, 79, 79);">RM{{product.price}}</span>
            </div>
          </div>
          <div class="flex items-center mt-2.5 mb-5">
            <div class="stars" [style.--rating]="product.product_rating"></div>
            <span
              class=>({{product.product_rating}})</span>
          </div>
        </div>

      </div>

    </div>

  </section> -->

  <!-- Feature Sections (alternating layout like Landing "Coming Soon" block) -->
  <section class="info-section">
    <div class="container mx-auto">
      <div class="info-content">
        <div class="info-text">
          <h2 class="info-title">Family Wellness</h2>
          <p>
            Daily Nutrition for your Family Wellness, a plant-based goodness designed to support your loving family’s daily demands and active lifestyle. This unique formula is more than just a daily vitamin; it's ‘nutrient synergy’ for your family well-being. Rich in natural super antioxidant, it helps reduce damage caused by food allergy and pollution. These Vegan Soft Pastilles nourishes from within for a healthier gut probiotics.  Our medical grade formulation allows your body to quickly utilize key nutrients like polyphenols, amino acids, and short-chain acids, MCTs and Paleo-Prebiotics for faster results. Additionally, Family Wellness is dosage measured thus offering comprehensive support for your physical health. Feel the difference; 2 to 3 soft pastilles goodness daily for Mum, Dad and 2 soft pastilles for grandpa and grandma and one a day for teens and grandchildren. 
            These soft pastilles are supportive for demanding daily family routines, it also boosts energy levels and balances mood. ‘with Family Wellness, you're investing in a holistic approach towards safe nutrition for your loved ones’,  Dr Ravi Akambaram, Family Health Practitioner           </p>
          <button (click)=" navigateProductDetail('c7c14ce3-9eaf-439a-b81b-dcc3a34f2f5a')" class="info-cta">Learn more</button>
        </div>
        <div class="info-image">
          <img src="family_wellness_2_lg.png" alt="Family Wellness Box" />
        </div>
      </div>
    </div>
  </section>

  <section class="info-section">
    <div class="container mx-auto">
      <div class="info-content reverse">
        <div class="info-text">
          <h2 class="info-title">Vegan Soft Pastilles, Glass Bottle with 60 pcs</h2>
          <h3>Vegan ۞ Functional ۞ Future-Ready Nutrition</h3>
          <br>
          <p>Product Science that claims high-density pectin-based plant nutrients, that provide quicker absorption and energy refuel and for results you can truly feel. 
            Discover Nutrient Synergy with Vegan Soft Pastilles that are tasty and easily melt in your mouth.
            Each delicious soft pastilles is also designed to enhance your skin’s natural glow, keep your nails healthy, and support better muscle and joint comfort, so that you can move with ease and confidence.
            ‘a reliable option away from animal-based collagen for you everyday wellness journey’, Dato Dr Nor Shahida, Clinical Researcher  
            </p>
          <button (click)="navigateProductDetail('357dd213-bf26-4a49-82a1-86ee084fd372')" class="info-cta">Learn more</button>
        </div>
        <div class="info-image">
          <img src="vegan_pastilles_2_lg.png" alt="Vegan Soft Pastilles" />
        </div>
      </div>
    </div>
  </section>

  <section class="info-section">
    <div class="container mx-auto">
      <div class="info-content">
        <div class="info-text">
          <h2 class="info-title">NVC3 Paleo-Prebiotics (Sakura Pro-Collagen)</h2>
          <p>Discover a new era of plant-based nourishment with NVC3 Vegan Pro-Collagen. This groundbreaking formula goes beyond ordinary supplements, featuring a high-density blend of ingredients designed to support your body's natural vitality. Our unique infusion of Paleo-Prebiotics, Nata De Coco and Pro-Collagen Polypeptides work from the inside out, promoting a balanced and resilient you. Each serving is enriched with key nutrients like Vitamin C, B12, Quercetin, and Zinc to help you thrive. What sets NVC3 apart is its delivery in Bio-Resonance Water, a process that maximizes the absorption of every beneficial compound, ensuring you get the most out of each sip. Experience the refreshing taste and feel the difference as you incorporate this daily ritual into your wellness routine, all while knowing you're choosing a product that is both effective and ethically sourced, proudly made in Malaysia.</p>
          <button (click)="navigateProductDetail('10dd810b-add0-4368-ab5c-d1b9ef033a0f')" class="info-cta">Learn more</button>
        </div>
        <div class="info-image" style="flex-direction: column;">
          <img src="vegan_soft_collagen_2.jpeg" alt="Vegan Soft Pastilles" />
          <img src="vegan_soft_collagen_1.jpeg" alt="Vegan Soft Pastilles" />
        </div>
      </div>
    </div>
  </section>

  <section class="info-section">
    <div class="container mx-auto">
      <div class="info-content reverse">
        <div class="info-text">
          <h2 class="info-title">21‑Days Vegan Keto Meal</h2>
          <p>
            From a clinical nutrition perspective, 21 Days Vegan Keto Meal does have 5 grams soluble fibre, 3 grams resistant starch, 8 grams protein and 3 grams MCT and 1.1g ALA Omega 3 per serving of 30+ grams, it’s also packed with paleo prebiotics, plant-based amino acids, glycoproteins, vitamin compounds, MCTs, phytosterols, polyphenols, cofactors and coenzymes. 
          <p>
            <p>
              <i>
                “Dr. Keshu shares that this plant-based, nutrient-rich meal replacement is a safe and supportive choice for recovery, especially for those living with metabolic disorders.”
              </i>
            </p>
          <button (click)="navigateProductDetail('2242791e-fa44-4e02-a973-272ad58c2165')" class="info-cta">Learn more</button>
        </div>
        <div class="info-image">
          <img style="height: 500px;" src="keto_2.jpeg" alt="21 Days Vegan Keto Meal Plan" />
        </div>
      </div>
    </div>
  </section>

  <section class="info-section" styl>
    <div class="container mx-auto">
      <div class="info-content">
        <div class="info-text">
          <h2 class="info-title">Ancestral Keto Diet Guide</h2>
          <p>
            way from ‘strictly animal and dairy based keto diets’ 
Ancestral Keto Diet is a nutrient dense whole food-ancient grains, cultivated via organic practices, providing our bodies with a balanced diet and essential nutrients to regulate our digestive function, stop weight gain and heal tissue damage to stay resilient.
Doctors also recommends this plant-based, nutrient-dense meal replacement as safe choice for individuals recovering chronic infection and post-surgery.
          </p>
          <p>
            <i>
              ‘’…referring to the Vegan Allele research in Cornell in 2016, Ancient Grains is what our ancestors ate to stay robust,” says Dr Keshu, Clinical Research Nutritionist with Utara Dietetics Clinic & Plant-Based Research.  
            </i>
          </p>
          <button (click)="navigateProductDetail('53b93ba1-02ef-4499-9e87-2c55416deb1c')" class="info-cta">Learn more</button>
        </div>
        <div class="info-image">
          <img style="height: 500px;" src="ancestral_keto_diet_guide_lg.png" alt="Ancestral Keto Diet Guide" />
        </div>
      </div>
    </div>
  </section>

</main>
